<div class="app-statistics">

    <matrio path="components/app-navbar/app-navbar" class="navbar">
        <a href="/page1.html" class="app-navbar-button">
            Page 1
        </a>
        <a href="/game.html" class="app-navbar-button">
            game
        </a>
        <a href="/" class="app-navbar-button">
            Page 3
        </a>
    </matrio>
    <matrio path="components/app-screen/app-screen" class="screen">
        <a href="/page1.html" class="app-screen-button">
            Page 1 from screen
        </a>
        <a href="/page2.html" class="app-screen-button">
            Page 2 from screen
        </a>
        <a href="/" class="app-screen-button">
            Page 3 from screen
        </a>
        
    </matrio>
    
    <div class="main">
        <matrio-content></matrio-content>
    </div>
</div>

