<app-template>
    <!--Zone de la navbar -->
    <app-user-card class="navbar-profile-image">
        <img src="assets/images/child-pps/red_fish.png" alt="PP 1" class="icon"/>
    </app-user-card>
    <app-medium-button class="navbar-button" [routerLink]="['/ergo-stat-selected']" routerLinkActive="active"><p class ="name">Eli KOPTER</p></app-medium-button>
    <app-medium-button class="navbar-button red" [routerLink]="['/ergo-stats']"> Retour </app-medium-button>
    <app-medium-button class="navbar-button invisible"/>
    
    <!--Zone du main -->
    <app-inner-box class="main-box button-list">
        <app-small-button>TOTAL</app-small-button>
        <app-small-button>Dernière partie</app-small-button>
        <p>HISTORIQUE</p>
        <app-small-button>Session 2</app-small-button>
        <app-small-button>Session 1</app-small-button>
    </app-inner-box>
    <app-inner-box class="main-box blue">
        <span>
            Mots par min : {{gamestat.speed}}
        </span>
        <span>
            Assimilation des notions mathématiques:
            <div>
                <ul>
                    <li *ngFor="let item of getGradePerNotion()">
                        {{ item.notion }}: {{ item.grade }}
                    </li>
                </ul>
            </div>
        </span>
        <span>
            Mots les moins réussis : {{gamestat.wordsCommonlyMispelled}}
        </span>
        <span>
            Précision : {{gamestat.accuracy}}
        </span>
        <span>
            HeatMap : for later
        </span>
        <span>
            Nombre de corrections : {{gamestat.errors}}
        </span>
        <span>
            Réponses affichées : {{gamestat.answerShown}}
        </span>
    </app-inner-box>
    <app-inner-box class="main-box blue little">
        <h1 class="title">CLASSEMENT</h1>
        <app-user-card [user]="user" class="horizontal"/>         
    </app-inner-box>
</app-template>