<app-template>
  <!-- Navbar -->
  <app-home-button>Home</app-home-button>
  <app-medium-button class="navbar-button" [routerLink]="['/child-config']" routerLinkActive="active">
    <p class="name">
      <app-user-card [user]="user" class="horizontal navbar" />
    </p>
  </app-medium-button>
  <app-medium-button class="navbar-button red" [routerLink]="['/child-play']" routerLinkActive="active"> Retour
  </app-medium-button>
  <app-medium-button class="navbar-button" [routerLink]="['/child-stats']" routerLinkActive="active"> Mon classement
  </app-medium-button>

  <!-- Main stats area -->
  <div class="main-box">
    <div class="stat-flex-row">
      <app-statistics-box mode="ergo" [childId]="user.userId"></app-statistics-box>
    </div>
  </div>
</app-template>