<app-template>
    <!--Zone de la navbar -->
    <h1 class="navbar-text">Qui suis-je ?</h1>

    <!--Zone du main -->
    <app-inner-box class="main-box blue">
        <app-user-card routerLink="/child-play">
             <img src="assets/images/child-pps/red_fish.png" alt="PP 1" class="icon"/>
            <p class="name">Eli KOPTER</p>
        </app-user-card>
        <app-user-card>
            <img src="assets/images/child-pps/yellow_fish.png" alt="PP 1" class="icon"/>
            <p class="name">Poisson Jaune</p>
        </app-user-card>
        <app-user-card>
            <img src="assets/images/child-pps/turtle.png" alt="PP 1" class="icon"/>
            <p class="name">Tortue</p>
        </app-user-card>
        <app-user-card>
            <img src="assets/images/child-pps/blue_fish.png" alt="PP 1" class="icon"/>
            <p class="name">Poisson bleu</p>
        </app-user-card>
    </app-inner-box>
</app-template>