<audio #gameMusic src="assets/audio/music.mp3" loop></audio>
<div *ngIf="showPreGameLobby" class="pre-game-lobby-overlay">
  <div class="pre-game-lobby-box">
    <h2>Instructions du jeu</h2>
    <p>Bienvenue, petit poisson ! 🐟</p>
    <p>Des <strong>crab</strong> 🦀 veulent envahir ton bel aquarium !</p>
    <p>Mais, tu as un super pouvoir : <strong>les mots</strong> !</p>
    <p>Écris le <strong>nombre en lettres</strong> pour <strong>batre un crabe</strong> et protéger ton aquarium</p>
    <p>Par exemple : si la question est "2 + 3", écris <strong>"cinq"</strong>.</p>
    <p>À toi de jouer, héros des mers ! 🌊</p>
    <app-big-button class="main-button" (click)="startGame()">Démarrer</app-big-button>
  </div>
</div>
<div *ngIf="question && !showPreGameLobby; else loading">
    <div class="header">
        <div class="question-box">
            <div class="question" [ngStyle]="{ 'font-family': fontFamily }" >
                <p>{{ question.question }}</p>
            </div>
            <div class="answer">
                <span
                    *ngFor="let input of inputs; let i = index"
                    [ngClass]="[input.status, i === cursorPosition ? 'cursor' : '']"
                    [ngStyle]="{ 'font-family': fontFamily}"
                >
                    {{ input.letter }}
                </span>
            </div>
        </div>
    </div>
</div>
<canvas #gameCanvas class="game"></canvas>
<ng-template #loading>
  <p>Loading question...</p>
</ng-template>
<div class="hearts-container" *ngIf="limitedLives">
    <img *ngFor="let heart of [].constructor(lives)" 
         src="../../../../assets/images/game/red_heart.png" 
         alt="heart"
         class="heart-icon">
</div>

