:host {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 20% 80%;
    height: 100%;
    width: 100%;
    background: linear-gradient(#75d4ff, rgb(0, 50, 74));
}



////////////////////////////////////////////////////////////////////////////////
// Input :
////////////////////////////////////////////////////////////////////////////////

.header {
    grid-row: 1;
    grid-column: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    font-size: 50px;
    overflow-x: hidden;
}

.answer {
    position: relative;
    display: flex;
    align-items: center;
    font-size: 50px;
    font-weight: bold;
    display: flex;

}

.correct {
    color: rgb(0, 151, 0);
}
.wrong {
    color: red;
}
.pending {
    color: #80808065;
}

@keyframes blink {
    50% {
        background-color: #345e7100;
    }
}
.cursor {
    animation: blink 1s step-start 0s infinite;
    background-color: #599ab860;
}



////////////////////////////////////////////////////////////////////////////////
// Game :
////////////////////////////////////////////////////////////////////////////////

.game {
    position: absolute;
    align-self: center;
    justify-self: center;
    height: 100%;
    width: 100%;
}
