<app-template>
  <app-medium-button class="navbar-button red" [routerLink]="['/']" routerLinkActive="active">Retour</app-medium-button>
  <app-medium-button class="navbar-button" [routerLink]="['/ergo-stat-selected']" routerLinkActive="active">Détail de la partie</app-medium-button>
  <app-inner-box class="main-box blue">
    <div class="podium-container">
      <div class="score">
        <p>Score: {{ userScore }}</p>
      </div>
      <div class="user-card">
        <app-user-card [user]="user"></app-user-card>
      </div>
    </div>
  </app-inner-box>
</app-template>
