<app-template>
  <!--Zone de la navbar -->
  <app-home-button>Home</app-home-button>
  <app-medium-button class="navbar-button" [routerLink]="['/child-config']" routerLinkActive="active"><p class="name">
    <app-user-card [user]="user" class="horizontal navbar"/>
  </p></app-medium-button>
  <app-medium-button class="navbar-button red" [routerLink]="['/child-play']" routerLinkActive="active"> Retour </app-medium-button>
  <app-medium-button class="navbar-button" [routerLink]="['/child-stats']" routerLinkActive="active"> Mon aquarium </app-medium-button>

  <!--Zone du main -->
  <div class="stats-container main-box" *ngIf="currentStatistic">
    <app-tab-box
      [tabs]="mainTabs"
      [sections]="sections"
      [activeTabId]="activeTab"
      (tabSelected)="onTabChange($event)"
      class="tab-container">
    </app-tab-box>

    <app-inner-box class="main-box blue stat-box">
      
        <span>
            Classement: <strong>{{ currentStatistic.ranking }}</strong>
        </span>
      <span>
            Mots par min: <strong>{{ currentStatistic.wordsPerMinute }}</strong>
        </span>

      <span>
            Mots les moins réussis:
            <ul class="words-list">
                <li *ngFor="let word of currentStatistic.wordsLeastSuccessful">
                    {{ word.word }} ({{ word.successRate }}%)
                </li>
            </ul>
        </span>

    </app-inner-box>
  </div>

  <!-- Show a loading message or placeholder when statistics aren't loaded yet -->
  <div *ngIf="!currentStatistic" class="loading-container">
    <p>Chargement des statistiques en cours...</p>
  </div>
</app-template>
