<app-template>
    <!--Zone de la navbar -->
    <app-home-button>Home</app-home-button>
    <h1 class="navbar-text">Choisir un enfant</h1>

    <!--Zone du main -->
    <app-inner-box class="main-box blue user-list-container">
        <app-search-bar (searchText)="filterUsers($event)"></app-search-bar>
        <app-user-list
        [users]="filteredUsers"
        [navigateTo]="'/ergo-config-selected'"
        [showAddButton]="true"
        [addButtonRoute]="'/ergo-input-child'"
        [showDeleteButtons]="true">
    </app-user-list>
    </app-inner-box>
</app-template>