<app-template>
    <!--Zone de la navbar -->
    <app-medium-button class="navbar-button" [routerLink]="['/ergo-config']" routerLinkActive="active">Configuration enfants</app-medium-button>
    <app-medium-button class="navbar-button" [routerLink]="['/ergo-play']" routerLinkActive="active"> Lancer la partie </app-medium-button>
    <app-medium-button class="navbar-button" [routerLink]="['/ergo-stats']" routerLinkActive="active"> Statistiques des enfants </app-medium-button>

    <!--Zone du main -->
    <app-inner-box class="main-box blue">
        <app-big-button class="main-box orange" [routerLink]="['/ergo-lobby']"> Lancer la partie </app-big-button>
    </app-inner-box>
</app-template>