<app-template>
    <!--Zone de la navbar -->
    <app-home-button>Home</app-home-button>
    <app-medium-button class="navbar-button" [routerLink]="['/child-lobby']" routerLinkActive="active">Lancement de la partie</app-medium-button>
    <app-medium-button class="navbar-button red" [routerLink]="['/child-play']" routerLinkActive="active">Retour</app-medium-button>
    <!--Zone du main -->
    <app-inner-box class="main-box blue ">
        <div class="game-instructions">
            <h2>Instructions du jeu</h2>
            <p>Dans ce jeu, vous devez écrire les <strong>nombres en lettres</strong>.</p>
            <p>Par exemple : si la question est "2 + 3", la réponse correcte est <strong>"cinq"</strong>.</p>
            <p>Essayez de répondre correctement pour obtenir le meilleur score possible !</p>
        </div>
        <app-small-button [routerLink]="['/game']">Jeu ici</app-small-button>
    </app-inner-box>
</app-template>