/* You can add global styles to this file, and also import other style files */
html {
    //font-family: 'Roboto', sans-serif;
    font-family: 'Press Start 2P';font-size: 22px;

}

html,body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}
