<app-template>
    <!--Zone de la navbar -->
    <app-home-button></app-home-button>
    <app-medium-button class="navbar-button"><p class="name">
        <app-user-card [user]="user" class="horizontal navbar"/>
    </app-medium-button>
    <app-medium-button class="navbar-button red" [routerLink]="['/child-list']" routerLinkActive="active">Retour</app-medium-button>
    <app-medium-button class="navbar-button" [routerLink]="['/child-stats']" routerLinkActive="active"> Mon classement </app-medium-button>
    <!--Zone du main -->
    <app-big-button class="main-button" [routerLink]="['/game']">Jouer</app-big-button>
</app-template>