<app-template>
    <!--Zone de la navbar -->
    <app-medium-button class="navbar-button" [routerLink]="['/ergo-config']" routerLinkActive="active"> Configuration joueurs</app-medium-button>
    <app-medium-button class="navbar-button" [routerLink]="['/ergo-play']" routerLinkActive="active"> Jouer </app-medium-button>
    <app-medium-button class="navbar-button" [routerLink]="['/ergo-stats']" routerLinkActive="active"> Statistiques joueurs </app-medium-button>

    <!--Zone du main -->
    <app-inner-box class="main-box blue">
        <app-user-card routerLink="/ergo-config-selected">
            <img src="assets/images/child-pps/red_fish.png" alt="PP 1" class="icon"/>
            <p class="name">Eli KOPTER</p>
        </app-user-card>
        <app-user-card>
            <img src="/assets/images/child-pps/yellow_fish.png" alt="PP 1" class="icon"/>
            <p class="name">Poisson jaune</p>
        </app-user-card>
        <app-user-card>
            <img src="assets/images/child-pps/turtle.png" alt="PP 1" class="icon"/>
            <p class="name">Tortue</p>
        </app-user-card>
        <app-user-card>
            <img src="assets/images/child-pps/blue_fish.png" alt="PP 1" class="icon"/>
            <p class="name">Poisson bleu</p>
        </app-user-card>
        <app-user-card class="adder" >
            <p class="name">+</p>
        </app-user-card>
    </app-inner-box>
</app-template>